resources:
- ../default

patchesJson6902:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: kaoto-operator
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: "Always"
